{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vadde Obanna</title>
    <style>
        .container{
            padding: 1rem;
            margin: auto;
        }
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&display=swap');
        :root{
            --website-color: #ffa500;
            --background: #fdf9ef;
            --white-shade: #FEF9E7;
            --card-background: #FFFDF6;
            --black-shade: #111;
            --charcoal-black: #36454f;
            --white: #FFFFFF;
            --orange-white: #fdf9ef;
            --primary-font: 'Poppins', sans-serif;
            --heading-font: 'Playfair Display', serif;
            --headings-font: 'Raleway', sans-serif;
            --card-radius:2px;
            --orange-blue-combo:  #1034a6;
            --orange-blue-combo-shade:  #1034a680;
        }
        *{
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-family: var(--primary-font);
            overflow-x: hidden;
        }
        body{
            background: #fff;
            -webkit-font-smooth: subpixel-antialiased;
            font-smooth: subpixel-antialiased;
        }
        h2{
            font-family: var(--heading-font);
        }
        h2 span{
            color: var(--orange-blue-combo);
            transform: scale(2);
            margin-left: 0.5rem;
        }
        .container{
            padding: 1rem;
            color: var(--white-shade); 
            background: var(--website-color);           
        }
        .contentbx{
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }
        .imgbx{
            width: 30%;
            margin: auto;
            height:auto;
        }
        .imgbx img{
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
        .text{
            font-family: var(--headings-font);
            font-size: 1rem;
            line-height: 24px;
            letter-spacing: 1px;
            font-weight: 500;
            display: flex;
            flex-wrap: wrap;
        }
        .details{
            width: 70%;
            height: auto;
        }
        .para{
            margin-top: -3rem;
        }
        .fl::first-letter{
            color: var(--white-shade);
            font-size: 2.4rem;
            font-weight: 600;
            overflow: hidden;
        }
        @media screen and (max-width: 1400px){
            .para{
            margin-top: -0.5rem;
        }
        }
        @media screen and (max-width: 900px){
            .contentbx{
                justify-content: center;
                margin: 1rem auto;
            }
            .imgbx{
                width: 70%;
                margin: auto;
                height:auto;
            }
            .details{
                width: 100%;
            }
            .para{
            margin-top: 0rem;
        }
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>History of <span> Vadde Obanna </span></h2>
        <div class="contentbx">
            <div class="imgbx">
                <img src="{% static 'images/plain-obanna.png' %}" alt="">
            </div>
            <div class="details text">
                <span class="fl">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus quisquam dolores commodi incidunt voluptates iure ea autem nemo quo, laudantium labore maiores repellat nesciunt eveniet, provident, corrupti dicta repellendus animi.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam tempora, eveniet et aut impedit cumque mollitia aliquam temporibus cupiditate ipsa quisquam odit sapiente qui consectetur reprehenderit quaerat doloremque fugiat obcaecati?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit tenetur quasi dolorum omnis nisi amet! Eos, necessitatibus? Cum illo recusandae, ratione tempore provident perferendis, et minus mollitia eum obcaecati ex.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque sunt rem, aut ducimus accusantium sapiente, hic error dolorem inventore iure, soluta adipisci? Consectetur voluptatibus ad excepturi vero sit, nobis commodi!
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis perferendis reprehenderit delectus veritatis nemo ab velit. Excepturi, fuga accusantium. Reiciendis facilis consectetur veritatis cupiditate nemo cumque laboriosam, repellat asperiores aliquam!
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil quidem illo, debitis tenetur magnam aperiam natus voluptates. Possimus, accusamus cupiditate, eos pariatur neque quasi quas magni voluptatem dolor, soluta saepe!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, porro et, fugiat possimus, cum sapiente quasi excepturi dolore ipsam quisquam eaque iste soluta. Culpa facilis enim voluptatum maiores cum quam!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia a praesentium voluptate ad, odio animi quos facere omnis, voluptatem nihil nam. Tempora maxime rem tenetur doloribus nesciunt beatae laudantium esse?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo vero consequatur facilis. Dolorem dicta maxime, cumque omnis beatae obcaecati facilis, voluptatum perferendis accusamus reprehenderit unde quia iste, amet aspernatur ullam.
                </span>
            </div>
        </div>
        <div class="text para">
            <!-- <img src="{% static 'images/plain-obanna.png' %}" alt=""> -->           
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci maiores hic iure tenetur, aliquam vero unde dolor veritatis earum ad aspernatur doloribus nisi quis exercitationem itaque. Repellendus consectetur deserunt quod?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi asperiores ad, natus est officia corrupti labore odit ducimus vitae? Eius sunt repellendus qui facilis adipisci odio at quaerat numquam in!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita ipsum et laudantium veniam consequatur sint aspernatur incidunt, ullam distinctio dolorem voluptatum quibusdam molestias atque dolores quaerat quod ipsam pariatur vitae.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur ex unde voluptatibus iure iusto maxime exercitationem hic tempore ipsa delectus explicabo doloremque quia, quibusdam veritatis ab provident nam sit libero!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, inventore. Quos nihil qui quasi consectetur voluptas. Totam, architecto in necessitatibus quisquam aspernatur consectetur natus nisi facilis exercitationem at? Quia, in.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, non quasi dolorum maxime similique corrupti. Consequatur, non enim? Veritatis quae architecto, repudiandae illum blanditiis quisquam. Quidem quasi aut itaque recusandae.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus quisquam dolores commodi incidunt voluptates iure ea autem nemo quo, laudantium labore maiores repellat nesciunt eveniet, provident, corrupti dicta repellendus animi.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam tempora, eveniet et aut impedit cumque mollitia aliquam temporibus cupiditate ipsa quisquam odit sapiente qui consectetur reprehenderit quaerat doloremque fugiat obcaecati?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit tenetur quasi dolorum omnis nisi amet! Eos, necessitatibus? Cum illo recusandae, ratione tempore provident perferendis, et minus mollitia eum obcaecati ex.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque sunt rem, aut ducimus accusantium sapiente, hic error dolorem inventore iure, soluta adipisci? Consectetur voluptatibus ad excepturi vero sit, nobis commodi!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis perferendis reprehenderit delectus veritatis nemo ab velit. Excepturi, fuga accusantium. Reiciendis facilis consectetur veritatis cupiditate nemo cumque laboriosam, repellat asperiores aliquam!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil quidem illo, debitis tenetur magnam aperiam natus voluptates. Possimus, accusamus cupiditate, eos pariatur neque quasi quas magni voluptatem dolor, soluta saepe!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, porro et, fugiat possimus, cum sapiente quasi excepturi dolore ipsam quisquam eaque iste soluta. Culpa facilis enim voluptatum maiores cum quam!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia a praesentium voluptate ad, odio animi quos facere omnis, voluptatem nihil nam. Tempora maxime rem tenetur doloribus nesciunt beatae laudantium esse?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo vero consequatur facilis. Dolorem dicta maxime, cumque omnis beatae obcaecati facilis, voluptatum perferendis accusamus reprehenderit unde quia iste, amet aspernatur ullam.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci maiores hic iure tenetur, aliquam vero unde dolor veritatis earum ad aspernatur doloribus nisi quis exercitationem itaque. Repellendus consectetur deserunt quod?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi asperiores ad, natus est officia corrupti labore odit ducimus vitae? Eius sunt repellendus qui facilis adipisci odio at quaerat numquam in!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita ipsum et laudantium veniam consequatur sint aspernatur incidunt, ullam distinctio dolorem voluptatum quibusdam molestias atque dolores quaerat quod ipsam pariatur vitae.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur ex unde voluptatibus iure iusto maxime exercitationem hic tempore ipsa delectus explicabo doloremque quia, quibusdam veritatis ab provident nam sit libero!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, inventore. Quos nihil qui quasi consectetur voluptas. Totam, architecto in necessitatibus quisquam aspernatur consectetur natus nisi facilis exercitationem at? Quia, in.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, non quasi dolorum maxime similique corrupti. Consequatur, non enim? Veritatis quae architecto, repudiandae illum blanditiis quisquam. Quidem quasi aut itaque recusandae.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus quisquam dolores commodi incidunt voluptates iure ea autem nemo quo, laudantium labore maiores repellat nesciunt eveniet, provident, corrupti dicta repellendus animi.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam tempora, eveniet et aut impedit cumque mollitia aliquam temporibus cupiditate ipsa quisquam odit sapiente qui consectetur reprehenderit quaerat doloremque fugiat obcaecati?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit tenetur quasi dolorum omnis nisi amet! Eos, necessitatibus? Cum illo recusandae, ratione tempore provident perferendis, et minus mollitia eum obcaecati ex.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque sunt rem, aut ducimus accusantium sapiente, hic error dolorem inventore iure, soluta adipisci? Consectetur voluptatibus ad excepturi vero sit, nobis commodi!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis perferendis reprehenderit delectus veritatis nemo ab velit. Excepturi, fuga accusantium. Reiciendis facilis consectetur veritatis cupiditate nemo cumque laboriosam, repellat asperiores aliquam!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil quidem illo, debitis tenetur magnam aperiam natus voluptates. Possimus, accusamus cupiditate, eos pariatur neque quasi quas magni voluptatem dolor, soluta saepe!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, porro et, fugiat possimus, cum sapiente quasi excepturi dolore ipsam quisquam eaque iste soluta. Culpa facilis enim voluptatum maiores cum quam!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia a praesentium voluptate ad, odio animi quos facere omnis, voluptatem nihil nam. Tempora maxime rem tenetur doloribus nesciunt beatae laudantium esse?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo vero consequatur facilis. Dolorem dicta maxime, cumque omnis beatae obcaecati facilis, voluptatum perferendis accusamus reprehenderit unde quia iste, amet aspernatur ullam.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci maiores hic iure tenetur, aliquam vero unde dolor veritatis earum ad aspernatur doloribus nisi quis exercitationem itaque. Repellendus consectetur deserunt quod?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi asperiores ad, natus est officia corrupti labore odit ducimus vitae? Eius sunt repellendus qui facilis adipisci odio at quaerat numquam in!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita ipsum et laudantium veniam consequatur sint aspernatur incidunt, ullam distinctio dolorem voluptatum quibusdam molestias atque dolores quaerat quod ipsam pariatur vitae.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur ex unde voluptatibus iure iusto maxime exercitationem hic tempore ipsa delectus explicabo doloremque quia, quibusdam veritatis ab provident nam sit libero!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, inventore. Quos nihil qui quasi consectetur voluptas. Totam, architecto in necessitatibus quisquam aspernatur consectetur natus nisi facilis exercitationem at? Quia, in.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, non quasi dolorum maxime similique corrupti. Consequatur, non enim? Veritatis quae architecto, repudiandae illum blanditiis quisquam. Quidem quasi aut itaque recusandae.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus quisquam dolores commodi incidunt voluptates iure ea autem nemo quo, laudantium labore maiores repellat nesciunt eveniet, provident, corrupti dicta repellendus animi.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam tempora, eveniet et aut impedit cumque mollitia aliquam temporibus cupiditate ipsa quisquam odit sapiente qui consectetur reprehenderit quaerat doloremque fugiat obcaecati?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit tenetur quasi dolorum omnis nisi amet! Eos, necessitatibus? Cum illo recusandae, ratione tempore provident perferendis, et minus mollitia eum obcaecati ex.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque sunt rem, aut ducimus accusantium sapiente, hic error dolorem inventore iure, soluta adipisci? Consectetur voluptatibus ad excepturi vero sit, nobis commodi!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis perferendis reprehenderit delectus veritatis nemo ab velit. Excepturi, fuga accusantium. Reiciendis facilis consectetur veritatis cupiditate nemo cumque laboriosam, repellat asperiores aliquam!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil quidem illo, debitis tenetur magnam aperiam natus voluptates. Possimus, accusamus cupiditate, eos pariatur neque quasi quas magni voluptatem dolor, soluta saepe!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, porro et, fugiat possimus, cum sapiente quasi excepturi dolore ipsam quisquam eaque iste soluta. Culpa facilis enim voluptatum maiores cum quam!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia a praesentium voluptate ad, odio animi quos facere omnis, voluptatem nihil nam. Tempora maxime rem tenetur doloribus nesciunt beatae laudantium esse?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo vero consequatur facilis. Dolorem dicta maxime, cumque omnis beatae obcaecati facilis, voluptatum perferendis accusamus reprehenderit unde quia iste, amet aspernatur ullam.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci maiores hic iure tenetur, aliquam vero unde dolor veritatis earum ad aspernatur doloribus nisi quis exercitationem itaque. Repellendus consectetur deserunt quod?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi asperiores ad, natus est officia corrupti labore odit ducimus vitae? Eius sunt repellendus qui facilis adipisci odio at quaerat numquam in!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita ipsum et laudantium veniam consequatur sint aspernatur incidunt, ullam distinctio dolorem voluptatum quibusdam molestias atque dolores quaerat quod ipsam pariatur vitae.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur ex unde voluptatibus iure iusto maxime exercitationem hic tempore ipsa delectus explicabo doloremque quia, quibusdam veritatis ab provident nam sit libero!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, inventore. Quos nihil qui quasi consectetur voluptas. Totam, architecto in necessitatibus quisquam aspernatur consectetur natus nisi facilis exercitationem at? Quia, in.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, non quasi dolorum maxime similique corrupti. Consequatur, non enim? Veritatis quae architecto, repudiandae illum blanditiis quisquam. Quidem quasi aut itaque recusandae.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus quisquam dolores commodi incidunt voluptates iure ea autem nemo quo, laudantium labore maiores repellat nesciunt eveniet, provident, corrupti dicta repellendus animi.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam tempora, eveniet et aut impedit cumque mollitia aliquam temporibus cupiditate ipsa quisquam odit sapiente qui consectetur reprehenderit quaerat doloremque fugiat obcaecati?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit tenetur quasi dolorum omnis nisi amet! Eos, necessitatibus? Cum illo recusandae, ratione tempore provident perferendis, et minus mollitia eum obcaecati ex.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque sunt rem, aut ducimus accusantium sapiente, hic error dolorem inventore iure, soluta adipisci? Consectetur voluptatibus ad excepturi vero sit, nobis commodi!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis perferendis reprehenderit delectus veritatis nemo ab velit. Excepturi, fuga accusantium. Reiciendis facilis consectetur veritatis cupiditate nemo cumque laboriosam, repellat asperiores aliquam!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil quidem illo, debitis tenetur magnam aperiam natus voluptates. Possimus, accusamus cupiditate, eos pariatur neque quasi quas magni voluptatem dolor, soluta saepe!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, porro et, fugiat possimus, cum sapiente quasi excepturi dolore ipsam quisquam eaque iste soluta. Culpa facilis enim voluptatum maiores cum quam!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia a praesentium voluptate ad, odio animi quos facere omnis, voluptatem nihil nam. Tempora maxime rem tenetur doloribus nesciunt beatae laudantium esse?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo vero consequatur facilis. Dolorem dicta maxime, cumque omnis beatae obcaecati facilis, voluptatum perferendis accusamus reprehenderit unde quia iste, amet aspernatur ullam.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci maiores hic iure tenetur, aliquam vero unde dolor veritatis earum ad aspernatur doloribus nisi quis exercitationem itaque. Repellendus consectetur deserunt quod?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi asperiores ad, natus est officia corrupti labore odit ducimus vitae? Eius sunt repellendus qui facilis adipisci odio at quaerat numquam in!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita ipsum et laudantium veniam consequatur sint aspernatur incidunt, ullam distinctio dolorem voluptatum quibusdam molestias atque dolores quaerat quod ipsam pariatur vitae.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur ex unde voluptatibus iure iusto maxime exercitationem hic tempore ipsa delectus explicabo doloremque quia, quibusdam veritatis ab provident nam sit libero!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, inventore. Quos nihil qui quasi consectetur voluptas. Totam, architecto in necessitatibus quisquam aspernatur consectetur natus nisi facilis exercitationem at? Quia, in.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, non quasi dolorum maxime similique corrupti. Consequatur, non enim? Veritatis quae architecto, repudiandae illum blanditiis quisquam. Quidem quasi aut itaque recusandae.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus quisquam dolores commodi incidunt voluptates iure ea autem nemo quo, laudantium labore maiores repellat nesciunt eveniet, provident, corrupti dicta repellendus animi.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam tempora, eveniet et aut impedit cumque mollitia aliquam temporibus cupiditate ipsa quisquam odit sapiente qui consectetur reprehenderit quaerat doloremque fugiat obcaecati?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit tenetur quasi dolorum omnis nisi amet! Eos, necessitatibus? Cum illo recusandae, ratione tempore provident perferendis, et minus mollitia eum obcaecati ex.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque sunt rem, aut ducimus accusantium sapiente, hic error dolorem inventore iure, soluta adipisci? Consectetur voluptatibus ad excepturi vero sit, nobis commodi!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis perferendis reprehenderit delectus veritatis nemo ab velit. Excepturi, fuga accusantium. Reiciendis facilis consectetur veritatis cupiditate nemo cumque laboriosam, repellat asperiores aliquam!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil quidem illo, debitis tenetur magnam aperiam natus voluptates. Possimus, accusamus cupiditate, eos pariatur neque quasi quas magni voluptatem dolor, soluta saepe!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, porro et, fugiat possimus, cum sapiente quasi excepturi dolore ipsam quisquam eaque iste soluta. Culpa facilis enim voluptatum maiores cum quam!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia a praesentium voluptate ad, odio animi quos facere omnis, voluptatem nihil nam. Tempora maxime rem tenetur doloribus nesciunt beatae laudantium esse?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo vero consequatur facilis. Dolorem dicta maxime, cumque omnis beatae obcaecati facilis, voluptatum perferendis accusamus reprehenderit unde quia iste, amet aspernatur ullam.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci maiores hic iure tenetur, aliquam vero unde dolor veritatis earum ad aspernatur doloribus nisi quis exercitationem itaque. Repellendus consectetur deserunt quod?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi asperiores ad, natus est officia corrupti labore odit ducimus vitae? Eius sunt repellendus qui facilis adipisci odio at quaerat numquam in!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita ipsum et laudantium veniam consequatur sint aspernatur incidunt, ullam distinctio dolorem voluptatum quibusdam molestias atque dolores quaerat quod ipsam pariatur vitae.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur ex unde voluptatibus iure iusto maxime exercitationem hic tempore ipsa delectus explicabo doloremque quia, quibusdam veritatis ab provident nam sit libero!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, inventore. Quos nihil qui quasi consectetur voluptas. Totam, architecto in necessitatibus quisquam aspernatur consectetur natus nisi facilis exercitationem at? Quia, in.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, non quasi dolorum maxime similique corrupti. Consequatur, non enim? Veritatis quae architecto, repudiandae illum blanditiis quisquam. Quidem quasi aut itaque recusandae.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus quisquam dolores commodi incidunt voluptates iure ea autem nemo quo, laudantium labore maiores repellat nesciunt eveniet, provident, corrupti dicta repellendus animi.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam tempora, eveniet et aut impedit cumque mollitia aliquam temporibus cupiditate ipsa quisquam odit sapiente qui consectetur reprehenderit quaerat doloremque fugiat obcaecati?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit tenetur quasi dolorum omnis nisi amet! Eos, necessitatibus? Cum illo recusandae, ratione tempore provident perferendis, et minus mollitia eum obcaecati ex.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque sunt rem, aut ducimus accusantium sapiente, hic error dolorem inventore iure, soluta adipisci? Consectetur voluptatibus ad excepturi vero sit, nobis commodi!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis perferendis reprehenderit delectus veritatis nemo ab velit. Excepturi, fuga accusantium. Reiciendis facilis consectetur veritatis cupiditate nemo cumque laboriosam, repellat asperiores aliquam!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil quidem illo, debitis tenetur magnam aperiam natus voluptates. Possimus, accusamus cupiditate, eos pariatur neque quasi quas magni voluptatem dolor, soluta saepe!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, porro et, fugiat possimus, cum sapiente quasi excepturi dolore ipsam quisquam eaque iste soluta. Culpa facilis enim voluptatum maiores cum quam!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia a praesentium voluptate ad, odio animi quos facere omnis, voluptatem nihil nam. Tempora maxime rem tenetur doloribus nesciunt beatae laudantium esse?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo vero consequatur facilis. Dolorem dicta maxime, cumque omnis beatae obcaecati facilis, voluptatum perferendis accusamus reprehenderit unde quia iste, amet aspernatur ullam.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci maiores hic iure tenetur, aliquam vero unde dolor veritatis earum ad aspernatur doloribus nisi quis exercitationem itaque. Repellendus consectetur deserunt quod?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi asperiores ad, natus est officia corrupti labore odit ducimus vitae? Eius sunt repellendus qui facilis adipisci odio at quaerat numquam in!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita ipsum et laudantium veniam consequatur sint aspernatur incidunt, ullam distinctio dolorem voluptatum quibusdam molestias atque dolores quaerat quod ipsam pariatur vitae.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur ex unde voluptatibus iure iusto maxime exercitationem hic tempore ipsa delectus explicabo doloremque quia, quibusdam veritatis ab provident nam sit libero!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, inventore. Quos nihil qui quasi consectetur voluptas. Totam, architecto in necessitatibus quisquam aspernatur consectetur natus nisi facilis exercitationem at? Quia, in.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, non quasi dolorum maxime similique corrupti. Consequatur, non enim? Veritatis quae architecto, repudiandae illum blanditiis quisquam. Quidem quasi aut itaque recusandae.
        </div>
    </div>
</body>
</html>